.empty-module {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-style: italic;
}

.data-table {
    width: 100%;
}

th.remark-header th {
    text-align: center;
}

.data-table th, .data-table td {
    border-left: 1pt solid #BBB;
    text-align: center;
    padding: 0px 10px;
}

.data-table th:nth-child(1), .data-table td:nth-child(1) {
    border-left: none;
}

.data-table tr:nth-child(even) {
    background-color: #EFE
}
