

.divider {
    background-color: #FFF
}

#comment-list {
    width: 100%;
}

#comment-input td {
    padding-right: 2px;
    vertical-align: middle;
    width: 200px;
}

tr.referral th, tr.referral th td, #dealer-list th, #dealer td {
    padding-left: 0px;
    padding-right: 1em;
    width: 10%;
    word-wrap: break-word;
}

#data-view {
    width:100%;
    table-layout: fixed;
}

#data-view td, #data-view th {
    border: none;
    text-align: left;
    width: 35%;
    height: 2em;
}

#data-view td.divider {
    width: 10px;
}

#edit-div {
    text-align: right;
}