#content-main {
    width: 100%;
    padding-top: 25px;
}

#content-main td a {
    display: block;
    padding-right: .6em;
}

/* SIDEBAR */

#sidebar {
    vertical-align: top;
}

#sidebar div .index-item {
    width: 13em;
}

#content-related {
    width: 13em;
}

#content-related h3 {
    font-size: 12px;
    color: #666;
    margin-bottom: 3px;
}

#content-related h4 {
    font-size: 11px;
}

#content-related .module h2 {
    color: #666;
}
