.data-table th {
    border-left: 0;
    text-align: center;
    padding: 0px 10px;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
}

.link-col {
    width: 2em;
}

td.link-col {
    border: 0;
    border-left: 0;
}

div#table-footer {
    border-top: 2px solid #eee;
    text-align: right;
    height: 1em;
    padding: 0;
}

#table-footer span {
    font-size: 15px;
    vertical-align: middle;
}
