#import-options {
    display: flex;
}

textarea {
    margin-top: 0.5em;
    width: 95%;
}

.instructions {
    padding-left: 10px;
    font-size: 16px;
}

.option{
    margin-top: 5px;
    margin-left: 10px;
}

.lefty {
    width: 75%;
}

.righty {
    width: 25%;
    position: relative;
}

.righty input{
    position: absolute;
    bottom: 0;
    right: 0;
}
