th {
    padding: 3px 10px 3px 3px;
    text-align: left;
    font-size: 18px;
}

th.remark-header {
    text-align: center;
}

#date-filter {
    width: 600px;
}

#date-filter td.input {
    width: 200px;
}