{% load static %}
<h2>{{ model_name | title }}</h2>
<div class="module">
    <table class="data-table">
        <tr id="table-header">
            {% for field_name in columns %}
                <th>
                    {{ field_name }}
                </th>
            {% endfor %}
        </tr>
        {% for data_row in table_data %}

            <tr class="data-row">
                {% for datum_cell in data_row %}
                    <td>
                        {{ datum_cell }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
