{% load static %}
<div class="module">
    {% if no_query %}
            <div class="empty-module">
                {{ initial_msg }}
            </div>
    {% elif not model_data %}
        <div class="empty-module">
            {{ error_msg }}
        </div>
    {% else %}
        <table class="data-table">
            <tr id="table-header">
                <th class="link-col"></th>
                <th class="link-col"></th>
                {% for field_name in columns %}
                    <th>
                        {{ field_name }}
                    </th>
                {% endfor %}
            </tr>
            {% for data_row in model_data %}
                <tr class="data-row">
                    <td class="link-col">
                        <a href="/asview/{{ obj_type }}/{{ data_row.id }}">Details</a>
                    </td>
                    <td class="link-col">
                        <a href="/{{ app_name }}/{{ obj_type }}/{{ data_row.id }}">Edit</a>
                    </td>
                    {% for datum_cell in data_row.data %}
                        <td>
                            {{ datum_cell }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {% if not no_query and model_data %}
            <div id="table-footer">
                <span>
                    Now showing {{ count_displayed }} of {{ count_total }} found entries.
                </span>
            </div>
        {% endif %}
    {% endif %}
</div>
