{% load remarks %}
<h1>Remarks about {{ client }}</h1>
<div class="module" id="comment-list-div">
        {% load_remarks client.id %}
        {% load_remark_types %}
        {% if has_remarks %}
            <table id="comment-list" class="data-table">
                <tr>
                    <th class="date">
                      Date Posted
                    </th>
                    <th class="name">
                      Author
                    </th>
                    <th class="type">
                      Type
                    </th>
                    <th class="comment">
                      Remark
                    </th>
                    <th></th>
                </tr>
                {% for comment in get_remarks %}
                <tr>
                      <td class="date">
                          {{ comment.date_posted }}
                      </td>
                      <td class="name">
                          {{ comment.name }}
                      </td>
                      <td class="type">
                          {{ comment.type.abbreviation }}
                      </td>
                      <td class="comment">
                          {{ comment.comment }}
                      </td>
                    {% if comment.name == username or can_moderate %}
                        <td>
                            <a href="{% url 'delete_remark' remark_id=comment.id %}">Delete</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="empty-module">
                No remarks posted yet.
            </div>
        {% endif %}
</div>
<div class="module">
    {% if client %}
        <table id="comment-input">
            <form action="{% url 'add_remark' client_id=client.id%}" method="post">
            {% csrf_token %}
            <tr>
                <td>
                    Remark Status:
                </td>
                <td>
                    <select id="comment-type" name="type_id">
                        {% for type in get_remark_types %}
                            <option value={{type.pk}}>{{type.abbreviation}}</option>
                        {% endfor %}
                    </select>
                </td>
            <tr id="custom-comment">
                <td>
                    Remark:
                </td>
                <td>
                    <textarea name="text" cols="40" rows="5" ... ></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" value="Post">
                </td>
            </tr>
            </form>
        </table>
    {% endif %}
</div>