{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'rainbow/css/detail-view.css' %}" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ obj_str }}
</div>
{% endblock %}
{% block content %}
<h1>Clients That Referred {{ client }}</h1>
<div class="module">
{% if refer_from_data|length > 0  %}
    <table id="refer-from-list" class="data-table">
        <tr class="referral">
                <th>Date</th>
                <th>Referred By</th>
                <th>Dealers</th>
                <th>Relationship</th>
        </tr>
        {% for referral in refer_from_data %}
            <tr class="referral">
                <td class="date_created">{{ referral.date_created }}</td>
                <td class="client"><a href="{% url 'details' model_name='client' pk=referral.referred_by.pk %}">{{ referral.referred_by }}</a></td>
                <td class="dealers">{{ referral.dealers }}</td>
                <td class="relationship">{{ referral.relationship }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="empty-module">
        No one referred this client.
    </div>
    {% endif %}
</div>
<h1>Dealer History</h1>
<div class="module">
    {% if dealer_data %}
    <table id="dealer-list" class="data-table">
        <tr class="dealer">
                <th>Date Assigned</th>
                <th>Name</th>
        </tr>
        {% for dealer in dealer_data %}
            <tr class="dealer">
            <td>{{ dealer.date_assigned }}</td>
            <td><a href="/data/associate/{{ dealer.pk }}">{{ dealer.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="empty-module">
            No Dealers assigned for this client.
        </div>
        {% endif %}
</div>
<h1>Contact Numbers</h1>
<div class="module">
{% if phone_numbers|length > 0  %}
    <table id="phone-number-list" class="data-table">
        <tr class="dealer">
            <th>Phone Number</th>
        </tr>
        {% for number in phone_numbers %}
            <tr class="dealer">
                <td class="number">{{ number }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="empty-module">
        Client has no Phone Numbers.
    </div>
    {% endif %}
</div>
<h1>{{ opts.verbose_name | title }}</h1>
<div class="module">
    <table id="data-view" class="data-table">
    {% for field_tuple in data_list %}
        {% cycle '<tr>' '' %}
            <th>{{ field_tuple.name }}</th>
            {% if field_tuple.name == "Client" %}
                <td>
                    <a href="{% url 'details' model_name='client' pk=field_tuple.value.pk %}">
                        {{ field_tuple.value }}
                    </a>
                </td>
            {% else %}
                <td>{{ field_tuple.value }}</td>
            {% endif %}
        {% cycle '<td class="divider"></td>' '</tr>' %}
    {% endfor %}
    </table>
    {% if can_edit %}
        <div id="edit-div">
            <a href="/data/client/{{ client.pk }}">Edit Data -></a>
        </div>
    {% endif %}
</div>
<h1>Referrals of {{ client }}</h1>
<div class="module">
    {% if refer_to_data|length > 0 %}
    <table id="refer-to-list" class="data-table">
        <tr class="referral">
                <th>Date</th>
                <th>Client</th>
                <th>Dealers</th>
                <th>Relationship</th>
        </tr>
        {% for referral in refer_to_data %}
            <tr class="referral">
                <td class="date_created">{{ referral.date_created }}</td>
                <td class="client"><a href="{{ referral.client.pk }}"> {{ referral.client }}</td>
                <td class="dealers">{{ referral.dealers }}</td>
                <td class="relationship">{{ referral.relationship }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="empty-module">
            No refferals for this client.
        </div>
    {% endif %}
</div>
{% include "rainbow/comments.html" %}
{% endblock %}