{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static model_table %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type='text/css' href="{% static 'rainbow/css/model-list.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'rainbow/css/phone-search.css' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
    <div id="toolbar">
        <form class="module" id="search_module" action="{% url 'phone_search' %}" method="post">
            <div>
                {% csrf_token %}
                <label for="searchbar"><img src="{% static 'admin/img/icon_searchbox.png' %}" alt="Search" /></label>
                <input type="text" size="40" name="query" value="{{ query }}" id="searchbar" />
                <input type="submit" value="{% trans 'Search' %}" />
                {% if show_result_count %}
                    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
                {% endif %}
            </div>
        </form>
    </div>
    {% show_search_result_table model_data %}
    <script type="text/javascript">
        document.getElementById("searchbar").focus();
    </script>
{% endblock %}
