{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static model_table %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type='text/css' href="{% static 'rainbow/css/model-list.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'rainbow/css/quick-import.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {{ title }}
    </div>
{% endblock %}

{% block content %}
    <form id="import-form" action="{% url 'quick_import_preview' %}" method="post">
        {% csrf_token %}
        <h2 >Copy and Paste Your Data Here.</h2>
        <div class="module">
            <textarea name="data" rows="7" cols="75"></textarea>
        </div>
        <h2>Import Options</h2>
        <div class="module" id="import-options">
            <div class="lefty">
                <label class="smalltext">Excel Type: </label>
                <br/>
                <select class="option" name="excel_type">
                    {% for type in excel_types %}
                        <option value="{{ type }}"
                            {% if type == selected_excel_type %}
                                selected="selected"
                            {% endif %}
                        >{{ type|title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="righty">
                    <input class="option" type="submit" value="{% trans 'Preview' %}" />
            </div>
        </div>
    </form>
{% endblock %}
