{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static model_table %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type='text/css' href="{% static 'rainbow/css/model-list.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'rainbow/css/quick-import.css' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
    <form id="import-form" action="{% url 'quick_import_confirmed' %}" method="post">
        <h1>Preview Data</h1>
        {% if table_data_list %}
            {% for table_data in table_data_list %}
            {% show_model_table table_data %}
            {% endfor %}

            <h1>Import Options</h1>
            <div class="module" id="import-options">
                {% csrf_token %}
                    <input class="option" type="submit" value="Import" />
            </div>
        {% else %}
            <div class="module empty-module">
                {{ no_new_data_msg }}
            </div>
        {% endif %}

{% endblock %}
