{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}
{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'rainbow/js/jquery-ui.js' %}"></script>
    <script>
        $(function() {
            $( ".datepicker" ).datepicker();
        });
    </script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type='text/css' href="{% static 'rainbow/css/remark-stat.css' %}">
{% endblock %}
{% block content %}
    {% if can_view %}
        {% if errors %}
            <p class="errornote">
                {{ errors }}
            </p>
        {% endif %}
        <h2>Date Range</h2>
        <div class="module" id="date-filter">
            <form action="{% url 'remarkstat' %}" method="post">
                <table><tr>
                    {% csrf_token %}
                    <th class="date-cell">
                        Start Date: <input type="text" name="start" class="datepicker">
                    </th>
                    <th class="date-cell">
                        End Date: <input type="text" name="end" class="datepicker">
                    </th>
                    <td>
                        <input type="submit" name="submit" value="Filter">
                    </td>
                </tr></table>
            </form>
        </div>
        <h1>Remark Count per User</h1>
        <div class="module" id="remark-count">
            <table class="data-table">
                <tr>
                    <th></th>
                    {% for date in date_list %}
                        <th class="remark-header">{{ date }}</th>
                    {% endfor %}
                </tr>
                {% for user in user_list %}
                    <tr>
                        <th>{{ user.name }}</th>
                        {% for day in user.remark_record %}
                            <td>{{ day }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        You shouldn't be here.
    {% endif %}
{% endblock %}
