<h2>User Tools</h2>
<div class="index-item">
    <div class="module">
        <a href="{% url 'phone_search' %}">Search By Phone Number</a>
    </div>
    <div class="module">
        <a href="{% url 'quick_import' %}">Import Excel Data</a>
    </div>
</div>