{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
    {% load i18n admin_static %}
    <script src="{% static 'admin/js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'rainbow/js/jquery-ui.js' %}"></script>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Rainbow Database</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
