{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            <div class="object-tools">
                {% block object-tools-items %}
                {% if has_absolute_url %}
                    <li>
                        <a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a>
                    </li>
                {% endif %}
                {% endblock %}
            </div>
        {% endif %}
    {% endif %}
    {% endblock %}
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
        {% if is_popup %}
            <input type="hidden" name="{{ is_popup_var }}" value="1" />
        {% endif %}
        {% if to_field %}
            <input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />
        {% endif %}
        {% if save_on_top %}
            {% block submit_buttons_top %}{% submit_row %}{% endblock %}
        {% endif %}
        {% if errors %}
            <p class="errornote">
                {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
        {{ adminform.form.non_field_errors }}
        {% endif %}

        {% block inline_field_sets_top %}
        {% for inline_admin_formset in inline_admin_formsets %}
            {% if inline_admin_formset.opts.position == "top" %}
                {% include inline_admin_formset.opts.template %}
            {% endif %}
        {% endfor %}
        {% endblock %}

        <h1>{{ opts.verbose_name|capfirst}} Data</h1>

        {% block field_sets %}
        {% for fieldset in adminform %}
            {% include "admin/includes/fieldset.html" %}
        {% endfor %}
        {% endblock %}

        {% block after_field_sets %}{% endblock %}

        {% block inline_field_sets_bottom %}
        {% for inline_admin_formset in inline_admin_formsets %}
            {% if inline_admin_formset.opts.position != "top" %}
                {% include inline_admin_formset.opts.template %}
            {% endif %}
        {% endfor %}
        {% endblock %}

        {% block after_related_objects %}{% endblock %}

        {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

        {% block admin_change_form_document_ready %}
            <script type="text/javascript">
                (function($) {
                    $(document).ready(function() {
                        $('.add-another').click(function(e) {
                            e.preventDefault();
                            showAddAnotherPopup(this);
                        });
                        $('.related-lookup').click(function(e) {
                            e.preventDefault();
                            showRelatedObjectLookupPopup(this);
                        });
                    {% if adminform and add %}
                        $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                    {% endif %}
                    });
                })(django.jQuery);
            </script>
        {% endblock %}

        {# JavaScript for prepopulated fields #}
        {% prepopulated_fields_js %}
    </form>
</div>
<script type="text/javascript" src="{% static 'rainbow/js/tabindex-hack.js' %}"></script>
{% endblock %}
