{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    {% endif %}
    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
    <style>
        #changelist table thead th:first-child {width: inherit}
    </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
    {% if action_form %}
        {% if actions_on_top or actions_on_bottom %}
            <script type="text/javascript">
                (function($) {
                    $(document).ready(function($) {
                        $("tr input.action-select").actions();
                    });
                })(django.jQuery);
            </script>
        {% endif %}
    {% endif %}

{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural| title }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'rainbow/js/jquery.floatThead.js' %}"></script>
  <div id="content-main">
        <div id="changelist-content">
            {% block object-tools %}

            {% endblock %}
            {% if cl.formset.errors %}
                <p class="errornote">
                {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
                {{ cl.formset.non_form_errors }}
            {% endif %}

            {% block search %}{% search_form cl %}</div>{% endblock %}

                {% block filters %}
                    {% if cl.has_filters %}
                    <h1>Filter</h1>
                    <div class="module" id="changelist-filter">
                        {% for spec in cl.filter_specs %}
                            <div class="filter-block">
                            {% admin_list_filter cl spec %}
                            </div>
                        {% endfor %}
                        </div>
                        </div>
                    {% endif %}
                {% endblock %}


            <h1>{{ cl.opts.verbose_name| title }} Data</h1>
            <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
                {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
                <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
                {% if cl.formset %}
                    <div>{{ cl.formset.management_form }}</div>
                {% endif %}

                {% block result_list %}
                    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
                        {% result_list cl %}
                    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
                {% endblock %}
                {% block pagination %}{% pagination cl %}{% endblock %}
                </form>
            </div>
                <div class="menu-track">
                    <div id="obj-choice-menu">
                        {% url cl.opts|admin_urlname:'add' as add_url %}
                        {% if has_add_permission %}
                        <a href="{% add_preserved_filters add_url is_popup to_field %}">
                            <div class="md-btn" id="add-btn">
                                <div class="md-btn-wrapper">
                                    <img id="add-img" src="{% static "admin/img/icon/add.png" %}"
                                    {% blocktrans with cl.opts.verbose_name as name %}
                                    title="Add {{ name }}"/>
                                    {% endblocktrans %}
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        <div class="clear"></div>
                    </div>
                </div>
          </div>
      </div>

<script type="text/javascript">
    function initClientStatusRowBG() {
        $("td.field-get_status").each(function()
        {

            var status = $(this).text();
            var color = '';

            switch(status)
            {
                case "Cancelled":
                    color = '#9C0';
                break;
                case "Done":
                    color = '#FF6';
                break;
                case "Reset":
                    color = '#99E6FF';
                break;
                case "Sale":
                    color = '#FFCC00';
                break;
            }
            $(this).parent().css('background-color', color);
        });
    }

    initClientStatusRowBG();
    $(function() {
        $(".row").hover(
            function() {
                $(this).css('background-color', '#000');
                $(this).css('color', 'white');
                var linkNode = $(this).children().children('a')
                linkNode.css('color', '#2196F3');
                linkNode.hover(
                    function() {
                        $(this).css('color', '#FFC107')
                    },
                    function() {
                        $(this).css('color', '#2196F3')
                    });
                $(this).children('td').css('border-color', 'black');
            },
            function() {
                if($(".field-get_status")[0])
                {
                    initClientStatusRowBG();
                } else {
                    $(this).css('background-color', '');
                }
                $(this).children().children('a').css('color', '');
                $(this).css('color', '');
                $(this).children('td').css('border-color', '');
            });
    });

    $('table').floatThead();
</script>
{% endblock %}

