{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "rainbow/css/index.css" %}" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<table><tr>
    <td id="sidebar">
        {% include "rainbow/user_tools.html" %}
        {% if user.is_superuser %}
            {% include "rainbow/marketing_tools.html" %}
        {% endif %}
        <div id="content-related">
            <h2>{% trans 'Recent Actions' %}</h2>
            <div class="module" id="recent-actions-module">
                <h3>{% trans 'My Actions' %}</h3>
                    {% load log %}
                    {% get_admin_log 10 as admin_log for_user user %}
                    {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                    {% else %}
                    <ul class="actionlist">
                    {% for entry in admin_log %}
                    <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                        {% if entry.is_deletion or not entry.get_admin_url %}
                            {{ entry.object_repr }}
                        {% else %}
                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                        {% endif %}
                        <br/>
                        {% if entry.content_type %}
                            <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                        {% else %}
                            <span class="mini quiet">{% trans 'Unknown content' %}</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
            </div>
    </div>
    <td><div id="content-main">
        {% if app_list %}
            {% for app in app_list %}
                {% for model in app.models %}
                    {% if model.admin_url %}
                        <div class="model">
                            <div class="model-icon">
                                {% load staticfiles %}
                                <a  href="{{ model.admin_url }}">
                                        <img src="{% static "admin/img/index-icons/" %}{{ model.name }}.png"
                                        onError="this.onerror=null;this.src='{% static "admin/img/index-icons/default.png" %}'"/>
                                </a>
                            </div>
                            <div class="model-name">
                                <a href="{{ model.admin_url }}">{{ model.name }}</a>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
    </div></td>
</tr></table>
{% endblock %}
