{% load i18n admin_urls %}
{% load static %}
<div class="menu-track">
    <div id="obj-choice-menu">
        {% if show_save %}
        <button class="md-btn" type="submit" value="{% trans 'Save' %}"  name="_save">
            <img src="{% static "admin/img/icon/save.png" %}" title="Save"/>
        </button>
        {% endif %}
        {% if show_save_and_add_another %}
        <button class="md-btn" type="submit" value="{% trans 'Save and add another' %}" name="_addanother" />
            <img src="{% static "admin/img/icon/save-new.png" %}" title="Save and Add Another"/>
        </button>
        {% endif %}
        {% if show_save_and_continue %}
        <button class="md-btn" type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />
            <img src="{% static "admin/img/icon/save-edit.png" %}" title="Save and Continue Editing"/>
        </button>
        {% endif %}

        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}">
            <div class="md-btn" id="history-btn">
                <div class="md-btn-wrapper">
                    <img src="{% static "admin/img/icon/history.png" %}" title="{% trans "History" %}"/>
                </div>
            </div>
        </a>
        {% if show_delete_link %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a href="{% add_preserved_filters delete_url %}">
            <div class="md-btn" id="delete-btn">
                <div class="md-btn-wrapper">
                    <img src="{% static "admin/img/icon/delete.png" %}" title="{% trans "Delete" %}"/>
                </div>
            </div>
        </a>
        {% endif %}
    <div class="clear"></div>
    </div>
</div>
{% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" />{% endif %}
